{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "DB_HOST": "<servidor>.database.windows.net",
    "DB_NAME": "<banco>",
    "DB_USER": "<usuario>",
    "DB_PASSWORD": "<senha>"
  }
}
